<div class="results-block">
  <%= render 'layouts/messages' %>
</div>



<% if @stock %>
  <div class="card card-header col-sm-9 results-block">
    <strong>Symbol: </strong><%= @stock.ticker %>
    <strong>Name: </strong><%= @stock.name %>
    <strong>Closing Price: </strong><%= @stock.last_price %>
  </div>
<% end %>